#color-result {
  background: white;
  border: 5px solid rgb(87, 87, 87);
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#sport-result {
  background: white;
  border: 5px solid rgb(87, 87, 87);
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

body{
  background-color: grey;
  
}
